@use "../../scss/mixins.scss" as mixin;
@use "../../scss/colors/slate.scss" as slate;

.animal-container {
  padding: 2rem 1rem;
  @include mixin.border;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .ac-img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  .ac-content {
    .ac-latinname {
      margin-top: 1rem;
      font-style: italic;
      font-weight: 300;
      font-size: 1.1rem;
    }

    .acc-data {
      display: none;
    }
  
    .ac-moreinfo {
      width: 100%;
      padding: 1rem 0;
      margin-top: 1rem;
      border-radius: 8px;
      display: block;
      @include mixin.border;
  
      background-color: inherit;
      outline: none;
      cursor: pointer;
  
      transition: background-color 0.5s, color 0.5s;
      
      &:hover {
        background-color: slate.$c6;
        color: slate.$c1;
      }
    }
  }

  .ac-info {
    min-height: 100vh;
    width: 100vw;
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    overflow-y: scroll;

    background-color: slate.$c1;
    color: slate.$c9;
    animation: fade-in 150ms forwards;

    .aci-container {
      width: 85vw;
      margin: 0 auto;

      .acic-top {
        @include mixin.border($property: border-bottom);
        padding-bottom: 2rem;
        position: relative;

        display: flex;
        justify-content: flex-end;

        .acict-logo {
          width: fit-content;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;

          @include mixin.flex-center($justify-content: flex-start);
          gap: 0.7rem;

          img {
            width: 1.5rem;
          }

          span {
            font-weight: 700;

            cursor: default;
          }
        }

        .acict-button {
          border: none;

          @include mixin.flex-center;

          background-color: inherit;
          outline: none;
          cursor: pointer;

          ion-icon {
            font-size: 1.5rem;
          }
        }
      }

      .acic-main {
        margin: 3rem 0;
        padding-bottom: 2rem;
        @include mixin.border;
        border-radius: 8px;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
          width: 100%;
          margin-bottom: 1rem;
        }

        h1, h3, span {
          padding: 0 1.5rem;
        }

        h1 {
          font-size: 1.8rem;
        }

        .acicm-data {
          margin-top: 1.5rem;

          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media screen and (min-width: 960px) {
  .animal-container {
    padding: 0;
    margin: 4rem 0;

    flex-direction: row;

    .ac-img-container {
      width: 50%;
      background-color: slate.$c2;

      @include mixin.flex-center;
      .ac-img {
        height: fit-content;
        margin-bottom: initial;
        border-radius: initial;
        background-color: slate.$c9;
      }
    }

    .ac-content {
      width: 50%;
      padding: 2rem 2rem 2rem 1rem;

      .ac-moreinfo {
        display: none;
      }

      .acc-data {
        display: initial;

        h3 {
          margin-top: 1rem;
        }
      }
    }
  }
}