@use "../../scss/colors/slate.scss" as slate;
@use "../../scss/mixins.scss" as mixin;

.navbar-container {
  min-height: 10vh;
  padding: 2.5rem 0;

  background-color: slate.$c8;

  .nc-subcontainer {
    width: 85vw;
    margin: 0 auto;
    
    @include mixin.flex-center($justify-content: space-between);

    .ncs-logo {

      @include mixin.flex-center($justify-content: flex-start);
      gap: 0.7rem;

      img {
        width: 1.5rem;
      }

      a {
        color: slate.$c0;
        text-decoration: none;
        font-weight: 700;
      }
    }

    .ncs-menu-desktop {
      display: none
    }

    .ncs-button {
      @include mixin.flex-center;

      cursor: pointer;

      ion-icon {
        font-size: 1.5rem;

        color: slate.$c0;
      }
    }

    .ncs-menu {
      min-height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      padding: 2.5rem 0;

      display: none;

      background-color: slate.$c9;
      animation: fade-in 150ms forwards;

      .ncsm-container {
        width: 85vw;
        margin: 0 auto;

        .ncsmc-top {
          position: relative;

          @include mixin.flex-center($justify-content: flex-end);

          .ncs-logo {
            width: fit-content;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }

        .ncsmc-main {
          margin-top: 7rem;
          @include mixin.flex-center($flex-direction: column);
          gap: 2rem;

          .active {
            font-weight: 700;
            color: slate.$c0;
          }

          a {
            color: slate.$c0;
            text-decoration: none;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@media screen and (min-width: 960px) {
  .navbar-container {
    .nc-subcontainer {
      .ncs-menu-desktop {
        display: initial;

        ul {
          display: flex;
          gap: 1rem;

          list-style-type: none;

          li {
            .active {
              font-weight: 700;
              color: slate.$c0;
            }

            a {
              color: slate.$c3;
              text-decoration: none;

              transition: color 0.5s;

              &:hover {
                color: slate.$c0;
              }
            }
          }
        }
      }
      .ncs-button {
        display: none;
      }
    }
  }
}