@use "./colors/slate.scss" as slate;
@use "./variables.scss" as v;

@mixin flex-center($justify-content: center, $align-items: center, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border($property: border, $color: slate.$c3) {
  #{$property}: $color v.$standard-border;
}